.draftandpreview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.draftandpreview .draft{
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  color: #0F1035;
}

.draftandpreview .preview{
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  color: #0F1035;
  background-color: red;
  color: #fff;
  padding: 0.7rem 1.4rem;
  border-radius: 0px 10px;
}