form{
  display: flex;
  flex-direction: column;
}

form label{
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.7rem 0.8rem;
  color: #444957;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

form input{
  border: 1px solid #444957;
  padding: 1rem;
  margin-left: 0.8rem;
  outline: none;
  border-radius: 6px 6px;
  color: #444957;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: 100%;
}

form .gender, form .urgency, form .interview, form .duration, form .language{
  position: relative;
}

form p{
  color: red;
  margin: 0.7rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
}

form .genderSelection, form .urgencySelection, form .modeSelection{
  position: absolute;
  top: 40%;
  right: 1%;
}

form .gender .line, form .urgency .secondLine, form .interview .interviewLine, form .duration .durationLine, form .language .languageLine{
  position: absolute;
  top: 27%;
  right: 6%;
  height: 1.7rem;
  border-left: 2px solid #444957;
}

.options{
  position: absolute;
  background-color: #fff;
  margin-left: 1rem;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #DCF2F1;
  z-index: 1;
}

.options ul li{
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #444957;
  margin: 1rem 0rem;
  padding: 0.6rem;
}

.options ul li:hover{
  background-color: #DCF2F1;
  color: #444957;
}